*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  line-height: 1;
  font-size: 62.5%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  max-width: 1200px;
  padding: 0 12.5px;
  margin: 0 auto;
}

body, html {
  background-color: #00040F;
  font-family: "Poppins", sans-serif;
}

.row {
  display: flex;
}

header {
  padding-top: 36px;
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav .logo {
  display: flex;
  align-items: center;
}
header .nav .logo > img:first-child {
  width: 3.2rem;
  height: 3.2rem;
}
header .nav .logo > img:last-child {
  width: 8.2rem;
  height: 2.3rem;
  margin-left: 0.4rem;
}
header .nav .menu ul {
  display: flex;
}
header .nav .menu ul > li::marker {
  content: none;
}
header .nav .menu ul > li:not(:first-child) {
  margin-left: 5.6rem;
}
header .nav .menu ul > li > a {
  outline: none;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
}
header .topbar {
  position: relative;
}
header .topbar .discount {
  margin-top: 191px;
  position: relative;
}
header .topbar .discount::after {
  position: absolute;
  content: "";
  width: 19.5rem;
  height: 32.4rem;
  background-color: #fff;
  border-radius: 45rem;
  left: -20rem;
  top: 0;
  filter: blur(25rem);
}
header .topbar .discount-tip {
  display: flex;
  align-items: center;
  background: linear-gradient(125.17deg, #272727 0%, #11101D 100%);
  width: max-content;
  padding: 0.6rem 1.4rem;
  border-radius: 1rem;
}
header .topbar .discount-tip > img {
  width: 2.67rem;
  height: 2.67rem;
  object-fit: cover;
}
header .topbar .discount-tip > p {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}
header .topbar .discount-tip > p strong {
  color: #fff;
}
header .topbar .discount-content {
  max-width: 67rem;
  padding-top: 1.6rem;
  position: relative;
}
header .topbar .discount-content .started {
  position: absolute;
  width: 14rem;
  height: 14rem;
  right: 9rem;
  top: 2rem;
}
header .topbar .discount-content > p {
  color: #fff;
  line-height: 10rem;
  font-size: 7.2rem;
  font-weight: 600;
  position: relative;
}
header .topbar .discount-content > p > span {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .topbar .discount-des {
  max-width: 48.3rem;
  margin-top: 4rem;
}
header .topbar .discount-des > p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 3.6rem;
  font-size: 1.8rem;
}
header .topbar .image_discount {
  position: absolute;
  margin-top: 6.5rem;
  width: 69.9rem;
  height: 66.4rem;
  right: -15rem;
  top: -20rem;
}
header .topbar .image_discount::after {
  position: absolute;
  content: "";
  width: 40.5rem;
  height: 47.1rem;
  background: rgba(194, 238, 250, 0.6);
  top: -2.4rem;
  left: 50%;
  transform: translateX(-20%);
  border-radius: 100%;
  filter: blur(29rem);
}
header .topbar .image_discount::before {
  position: absolute;
  content: "";
  width: 57.8rem;
  height: 57.1rem;
  top: -4.4rem;
  left: 20%;
  transform: translateX(-20%);
  border-top: 57rem solid rgba(151, 154, 252, 0.3);
  border-left: 21rem solid transparent;
  border-right: 21rem solid transparent;
  filter: blur(9rem);
}
header .topview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14.3rem;
}
header .topview-trans {
  display: flex;
  align-items: center;
}
header .topview-user {
  position: relative;
  display: flex;
  align-items: center;
}
header .topview-user::after {
  position: absolute;
  content: "";
  width: 0.2rem;
  height: 1.3rem;
  background-color: #ffffff;
  opacity: 60%;
  left: calc(100% + 50px);
  top: 50%;
  transform: translateY(-50%);
}
header .topview-user-number {
  color: #fff;
  font-weight: 600;
  font-size: 4rem;
}
header .topview-user-content {
  font-family: "Archivo Black", sans-serif;
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 2rem;
  font-weight: 400;
  margin-left: 2.72rem;
}

.money {
  width: 100%;
  margin-top: 15.7rem;
}
.money-content {
  max-width: 50%;
}
.money-content > h3 {
  font-size: 4.8rem;
  color: #fff;
  font-weight: 600;
  line-height: 7.68rem;
}
.money-content > p {
  color: #fff;
  opacity: 70%;
  font-size: 1.8rem;
  margin-top: 2.4rem;
  line-height: 3.6rem;
}
.money .btn_money {
  margin-top: 4.8rem;
}
.money .btn_money .btn {
  padding: 1.9rem 3.3rem 1.8rem;
  outline: none;
  border: none;
  color: black;
  font-size: 1.8rem;
  border-radius: 1rem;
  background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
  font-weight: 600;
}
.money-box {
  width: 50%;
  margin-left: 9rem;
  margin-top: -3.6rem;
  display: flex;
  flex-direction: column;
}
.money-box .money-items {
  margin-top: 3.4rem;
  padding: 20px 15px 20px 18px;
  display: flex;
  align-items: center;
}
.money-box .money-items:nth-child(2) {
  border-radius: 2rem;
  background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101D 95.11%);
  padding: 20px 28px 20px 18px;
}
.money-box .money-items > img {
  width: 6.4rem;
  height: 6.4rem;
  object-fit: cover;
}
.money-box .money-items-title {
  margin-left: 2rem;
}
.money-box .money-items-title > h4 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}
.money-box .money-items-title > p {
  color: #fff;
  opacity: 70%;
  font-size: 1.6rem;
  margin-top: 0.8rem;
  line-height: 2.4rem;
}
.money-box .money_deal {
  width: 51.3rem;
  height: 44.9rem;
}

.deal {
  margin-top: 13.7rem;
}

section.paypal {
  position: relative;
  padding-top: 13.5rem;
}
section.paypal::after {
  position: absolute;
  content: "";
  width: 40.5rem;
  height: 47.1rem;
  background-color: #fff;
  left: -37rem;
  top: -10rem;
  border-radius: 50%;
  opacity: 60%;
  filter: blur(23rem);
}
section.paypal::before {
  position: absolute;
  content: "";
  width: 34.5rem;
  height: 51.4rem;
  background: linear-gradient(90deg, #F4C4F3 0%, #FC67FA 100%);
  transform: rotate(-150deg);
  left: -37rem;
  top: 35rem;
  opacity: 60%;
  filter: blur(33rem);
}
section.paypal .row {
  justify-content: space-between;
  align-items: center;
}
section.paypal .paypal_img {
  width: 52rem;
  height: 45.5rem;
}
section.paypal .paypal_title {
  width: 50%;
  padding-left: 12rem;
}
section.paypal .paypal_title > h3 {
  font-size: 4.8rem;
  line-height: 7.6rem;
  font-weight: 600;
  color: #fff;
}
section.paypal .paypal_title > p {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #fff;
  opacity: 70%;
}
section.paypal .paypal_title .paypal_down {
  display: flex;
  margin-top: 4.8rem;
  gap: 3.2rem;
}
section.paypal .paypal_title .paypal_down > img {
  width: 12.8rem;
  height: 4.2rem;
}

section.about {
  padding-top: 13rem;
}
section.about .about_content {
  display: flex;
  align-items: center;
}
section.about .about-heading {
  max-width: 47rem;
}
section.about .about-heading > h4 {
  color: #fff;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 8.16rem;
}
section.about .about-des {
  max-width: 45rem;
  margin-left: 12.9rem;
}
section.about .about-des > p {
  line-height: 3.24rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  opacity: 70%;
}
section.about .about_thumbnail {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
  position: relative;
}
section.about .about_thumbnail::after {
  position: absolute;
  content: "";
  width: 15rem;
  height: 40rem;
  background: linear-gradient(90deg, #1A2980 0%, #26D0CE 100%);
  right: -10em;
  top: 1%;
  filter: blur(12rem);
}
section.about .about_thumbnail-items {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
  border-radius: 2rem;
  padding: 6rem 4rem;
}
section.about .about_thumbnail-items:nth-child(2), section.about .about_thumbnail-items:last-child {
  background: transparent;
}
section.about .about_thumbnail-items > img {
  width: 4.26rem;
  height: 2.76rem;
}
section.about .about_thumbnail-items > p {
  padding-top: 4rem;
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 2.9rem;
}
section.about .about_thumbnail-items .thumbnail_profile {
  display: flex;
  flex-shrink: 1;
  margin-top: auto;
}
section.about .about_thumbnail-items .thumail_avatar {
  width: 4.8rem;
  height: 4.8rem;
}
section.about .about_thumbnail-items .thumbnail_name {
  margin-left: 1.6rem;
  align-items: center;
}
section.about .about_thumbnail-items .thumbnail_name > h5 {
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
  line-height: 3.2rem;
}
section.about .about_thumbnail-items .thumbnail_name > p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  opacity: 60%;
}

.service_thumbnail {
  padding-top: 10rem;
  display: flex;
  margin-bottom: 10rem;
  justify-content: space-around;
}
.service_thumbnail-item:nth-child(3) {
  margin-top: -1rem;
}
.service_thumbnail-item:first-child {
  margin-top: -1.3rem;
}
.service_thumbnail-item > img.airbnb {
  width: 19.2rem;
  height: 6rem;
}
.service_thumbnail-item > img.binace {
  width: 19.2rem;
  height: 3.8rem;
}
.service_thumbnail-item > img.coinbase {
  width: 18.9rem;
  height: 4.1rem;
}
.service_thumbnail-item > img.dropbox {
  width: 19.2rem;
  height: 3.7rem;
}
.service_now {
  display: flex;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-left: 9.2rem;
  padding-right: 10rem;
  background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
  border-radius: 2rem;
}
.service_now-title > h3 {
  font-size: 4.8rem;
  line-height: 6.72rem;
  color: #fff;
  font-weight: 600;
}
.service_now-title > p {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  line-height: 2.8rem;
  opacity: 70%;
  max-width: 44.5rem;
}
.service_now-btn {
  margin-left: 16rem;
}
.service_now-btn > button {
  padding: 1.9rem 3.3rem 1.8rem;
  outline: none;
  border: none;
  color: black;
  font-size: 1.8rem;
  border-radius: 1rem;
  background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
  font-weight: bold;
}

footer {
  padding-top: 7.2rem;
}
footer .footer-top {
  padding-bottom: 4rem;
  border-bottom: 1px solid #3F3E45;
}
footer .footer-bottom {
  padding: 25px 0;
}
footer .footer-bottom > p {
  font-size: 1.8rem;
  color: #fff;
  line-height: 2.7rem;
  opacity: 60%;
}
footer .footer-bottom .contact {
  width: 17.6rem;
  height: 2.1rem;
}
footer .footer-bottom .contact > img {
  width: 100%;
  height: 100%;
}
footer .row {
  justify-content: space-between;
}
footer .col {
  padding-right: 3rem;
  max-width: 35rem;
}
footer .col .footer-logo {
  display: flex;
  align-items: center;
}
footer .col .footer-logo > img:first-child {
  width: 7.2rem;
  height: 7.2rem;
}
footer .col .footer-logo > img:last-child {
  width: 18.4rem;
  margin-left: 0.9rem;
  height: 5.1rem;
}
footer .col > p {
  font-size: 1.8rem;
  margin-top: 3.8rem;
  font-weight: 400;
  color: #fff;
  opacity: 70%;
  line-height: 3.2rem;
}
footer .col-items > h5 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  line-height: 2.7rem;
  margin-bottom: 2.4rem;
}
footer .col-items .footer_list > ul > li:not(:first-child) {
  padding-top: 1.2rem;
}
footer .col-items .footer_list > ul > li > a {
  color: #fff;
  line-height: 2.4rem;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 400;
  opacity: 70%;
}

@media (max-width: 1367px) {
  .container {
    max-width: 987px;
  }
  header .topbar .image_discount {
    position: absolute;
    margin-top: 6.5rem;
    width: 57.9rem;
    height: 54.4rem;
    right: -2rem;
    top: -20rem;
  }
  section.about .about_thumbnail::after {
    right: 4em;
  }
  section.about .about_thumbnail::after {
    margin-left: -3rem;
  }
  section.paypal .paypal_title {
    padding-left: 4rem;
  }
  .money-box {
    margin-left: 1rem;
  }
  header .topbar .image_discount::after {
    left: 45%;
  }
  .money-box .money_deal {
    width: 50.1rem;
  }
  section.about .about_thumbnail-items {
    padding: 4rem 2rem;
  }
  .service_now {
    padding-top: 6rem;
    padding-bottom: 5rem;
    padding-left: 6.2rem;
    padding-right: 6rem;
  }
  header .topbar .discount-content .started {
    position: absolute;
    width: 11rem;
    height: 19rem;
    right: 6rem;
    top: 1rem;
  }
  header .topbar .discount-content {
    max-width: 48rem;
  }
  header .topbar .discount-content > p {
    font-size: 5.2rem;
  }
}
@media (max-width: 1023px) {
  .menu {
    display: none;
  }
  header .topbar .discount {
    margin-top: 720px;
  }
  header .topbar .image_discount {
    top: -78rem;
    width: 70.9rem;
  }
  header .topbar .discount-content {
    max-width: 74rem;
  }
  header .topview {
    display: block;
    justify-content: center;
    margin-top: 8.3rem;
  }
  header .topview-user {
    text-align: center;
  }
  .money {
    margin-top: 16.3rem;
  }
  .money-content, .money-box {
    margin-top: 6rem;
    max-width: 100%;
    text-align: center;
    width: 100%;
  }
  section.about .about_thumbnail {
    display: block;
  }
  section.about .about_thumbnail-items {
    width: 100%;
  }
  section.about .about_content {
    display: block;
    text-align: center;
  }
  section.about .about-heading {
    max-width: 72rem;
  }
  section.about .about-des {
    max-width: 53rem;
    margin: 0 auto;
  }
  .money-box .money_deal {
    width: 49.1rem;
    margin: 0 auto;
  }
  section.about {
    padding-top: 20rem;
  }
  section.about .about_thumbnail::after {
    right: 52em;
    filter: blur(20rem);
  }
  section.paypal .paypal_img {
    width: 52rem;
    height: 45.5rem;
    margin: 0 auto;
  }
  section.paypal .paypal_title {
    padding-top: 50px;
    text-align: center;
    width: 100%;
  }
  section.paypal .paypal_title .paypal_down {
    justify-content: center;
  }
  section.paypal .paypal_title {
    padding-left: 0;
  }
  section.paypal .paypal_title > h3, .money-content > h3, section.about .about-heading > h4, header .topbar .discount-content > p {
    font-size: 3.8rem;
  }
  .row {
    display: block;
  }
  header .topbar .discount-des {
    max-width: 72.3rem;
    margin-top: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
